html {
    margin: 0;
    padding: 0;
    font-family: calibri;
}

body {
    background-color: #000;
    border-top: solid 10px #fff;
    color: #68615D;
    font-size: .85em;
    margin: 0;
    padding: 0;
    border-style: solid none none none;
}
p {
    text-align: justify;
    font-size: 15px;
    color: #AFAE9E;
}
a {
    color: #fff;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
    height: 15px;
    width: 9px;
}

    a:hover {
    /*background-color: #6B8592;
    color: #000000;*/
}

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
td {
    vertical-align:top;
}
h1, h2, h3, h4, h5, h6 {
    color: #AFAE9E;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight:lighter;}
h1 {
    font-size: 2em;
    color: #AFAE9E;
}

h2 {
    font-size: 1.75em;
    color: #AFAE9E;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    font-weight:lighter;
    color: #AFAE9E;
}

h4 {
    font-size: 1.1em;
    color: #AFAE9E;
}

h5 {
    font-size: 1em;
    text-align: justify;
    color: #AFAE9E;
}

h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }
.TitoloVetrina {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    /*text-shadow: 0px 0px 2px 2px rgba( 179,118,255,0.75);*/
}
.verde {
    color: #76923C;
    font-style: italic;
    font-weight: bold;
}
/* archivio*/
.tblArchivio {
    width:auto;
}
.ElArchivio {
    color: #000;
    text-transform: uppercase;
    font-size:1.5em;
    Text-shadow: 0px 0px 5px #fff;
    font-weight: bold;
    text-decoration: none;
}
.ElArchivioSel {
    color: #FFFFFF;
    text-shadow:0px 0px 5px #76923c;
    font-size:1.6em;
}
.Archivio {
    min-height:60px;
    padding:0px;
}
    .Archivio img {
    box-shadow: 0px 0px 5px 5px #666;
    border: thin solid #FFFFFF;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
/*Form newsletter*/
.divnl {
    text-shadow: 0px 0px 3px #fff;
    text-align: center;
    background-color: #fff;
}
    .divnl h3 {
        color:#000;
    }
    .divnl p {
        color:#000;
        padding:10px;
    }
.buttonnl {
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5CB85C;
}
.buttonCredits {
    background: #000000;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #FFFFFF;
    transition:all 1s ease;
}
    .buttonCredits:hover {
    transition:all 1s ease;
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    }
.divnl a {
    color:#68615d;
}
.divnl img {
    width:100%;
}
.txtnl {
    border-radius: 8px;
    font-size: 0.8em;
}

/* main layout
----------------------------------------------------------*/
header .content-wrapper {
    padding-top: 20px; 
}
.content-wrapper {
    background-position: left;
    margin: 0 auto;
   width: 90%;
    max-width:1020px;
}

#body {
    background-position: -200px center;
    clear: both;
    padding-bottom: 5px;
    background-image: url('../Images/SfondoHeader50t.png');
    background-repeat: no-repeat;
}

    .main-content {
    padding-left: 10px;
    padding-top: 5px;
    background-image: url('../Images/SfondoContent.png');
    background-repeat: repeat;
}

header {
    border-width: thin;
    border-color: #759610;
    height: 150px;
    width: 100%;
    margin: 0 auto;
    min-width: 960px;
    border-bottom-style: solid;
}
    
footer {
    border-width: thin;
    clear: both;
    font-size: .8em;
    height: 150px;
    background-color: #151515;
    color: #FFFFFF;
    box-shadow: -14px -14px 14px -14px rgba(255,255,255,0.7)
}
.copyright {
    border-style: solid none none none;
    border-width: thin;
    font-size: 0.9em;
    margin: 0px 20px 5px 0px;
    border-radius: 10px;
    color: #D6D3D6;
    height: 100px;
}
.copyright img {
    margin-left: 10px;
    margin-top: 25px;
    height:25px;
    opacity: 1;
    /*box-shadow: 0px 0px 1px 2px #666;*/
    border-radius:1px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
    .copyright img:hover {
    opacity:0.5;
    border-radius:6px;
    }
.indexsp {
height:100px;
color:#fff;
font-size: 1.5em;
}
.indeximg {
}
    .indeximg:hover {
        opacity:0.2;
        filter: alpha(opacity=40); /* For IE8 and earlier */    }
/* site title
----------------------------------------------------------*/
.site-title {
    color: #000;
    text-transform: uppercase;
    font-size: 2.3em;
    width: 100%;
    text-align: right;
    Text-shadow: 0px 0px 5px  #fff;
    font-weight: bold;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    margin: 0 25px 5px 5px;
    padding: 0;
    text-align: right;
    font-size:1.2em;
    height:25px
}

    ul#menu li {
    display: inline;
    list-style: none;
}

        ul#menu li a {
    border: thin solid #000;
    background: none; /*color: #68615D;*/
    text-decoration: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 5px 15px 10px 15px;
    margin-left: 3px;
    margin-right: 3px;
    color: #AB72FF;
}

        ul#menu li a:hover {
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #000000 #FFFFFF #FFFFFF #FFFFFF;
    color: #fff;
    text-decoration: none;
    background-color: #000000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/* menu modifica
----------------------------------------------------------*/
ul.menum {
    margin: 0 15px 5px 5px;
    padding: 0;
    text-align: right;
    font-size:1.2em;
    height:30px
}
ul.menum img {
    height:18px;
}
    ul.menum li {
    display: inline;
    list-style: none;
    color: #FFFFFF;
}

        ul.menum li a {
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF #000000 #FFFFFF #000000;
    background: none;
    color: #68615D;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px 5px 3px;
    margin-left: 3px;
    margin-right: 3px;
}

        ul.menum li a:hover {
    border: thin solid #FFFFFF;
    color: #fff;
    text-decoration: none;
    background-color: #68615D;
}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

    .featured .content-wrapper {
        /*background-color: #7ac0da;
        background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        color: #3e5667;
        padding: 20px 40px 30px 40px;*/
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: bold;
    color: #D8BCFE;
}
.Td1 {
    max-width:500px;
    min-width:200px;
}
    .Td1 ul {
        list-style: none;
        padding: 0;
    }
        .Td1 ul li {
            padding: 2px 0 2px 2px;
        }
.Tbl2 {
    padding-left:15px;
    border-left-style: solid;
    border-width: thin;
    border-color: #E2E0D2;
        padding-right:0px;
}
    .Tbl2 td {
        vertical-align:top;

    }

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

fieldset.open-auth-providers {
    margin-top: 15px;
}

    fieldset.open-auth-providers button {
        margin-bottom: 12px;
    }
    
/* contact */
.contact h3 {
    font-size: 1.2em;
    color: #AFAE9E;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

    label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }

    label.checkbox {
        display: inline;
    }

    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        }

    textarea {
        font-family: inherit;
        }
    
        input:focus, textarea:focus {
            border: 1px solid #7ac0da;
        }

        input[type="checkbox"] {
            background: transparent;
            border: inherit;
            width: auto;
        }
        
    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
    width: 100%;
}

th {
	font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
        
    }

	th a:link, th a:visited, th a:active, th a:hover {
		color: #333;
		font-weight: 600;
		text-decoration: none;
        padding: 0;
	}

	th a:hover {
		color: #000;
	}

    th.asc a, th.desc a {
        margin-right: .75em;
    }
    
    th.asc a:after, th.desc a:after {
		display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
	}

	th.asc a:after {
		content: '▲';
	}

	th.desc a:after {
		content: '▼';
	}

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */

/*fade image*/
.blockfade {
    border-bottom-style: solid;
    border-width: thin;
    border-color: #E6D5FF;
    text-align: left;
}
.fadeimg {
    width: 50px;
    box-shadow: 0px 0px 5px 5px #666;
    border: thin solid #FFFFFF;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.fadetxt {
    padding-bottom: 10px;
    font-size: 1.3em;
    text-indent: 0;
    text-align: left;
    color: #556D0C;
    font-weight: bolder;
}
    .fadeimg:hover {
        opacity:0.5;
    border-radius:15px;
    border: thin solid #a369fd;
    }
.selectedfade {
    width: 100px;
    box-shadow: 0px 0px 5px 5px #364508;
    border-radius: 30px 0 30px 0;
    border: thin solid #364508;
}
.selected {
    font-weight: bold;
    font-style: italic;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #E6D5FF;
}
.GallIco {
    float:right;
    text-align:right;
    margin:15px;
}
.credits {
    display:table;
    float: left;
    color: #fff;
    transition: all 0.5s ease;
    padding: 15px 15px 0px 15px;
}
    .credits a {
        transition:all 0.5s ease;
    }
    .credits a img {
        transition:all 0.5s ease;
    }
    .credits a:hover img {
        transition:all 0.5s ease;
        -ms-transform: scale(1.3); /* IE 9 */
         -webkit-transform: scale(1.3); /* Safari */
         transform: scale(1.3);
    }

/* sezione Coolies*/
.divCook {
    border-width: 0.7px;
    border-color: rgba(248, 246, 246, 0.84);
    width: 200px;
    border-radius: 0px 0px 15px 15px;
    text-align: justify;
    background-color: rgba(21, 21, 21, 0.80);
    text-shadow: 0px 0px 3px #000;
    padding: 5px;
    position: absolute;
    -webkit-animation-name: cook; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    animation-name: cook;
    animation-duration: 3s;
    animation-direction: normal;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes cook {
    0%   {left:50%; top:50%;}
    100% {left:0px; top:160px;}
}

/* Standard syntax */
@keyframes cook {
    0%   {left:50%; top:50%;}
    100% {left:0px; top:160px;}
}    

